@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.footer {
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
.footer a:hover {
  color: #C2C5AA;
}

#nav_header {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #999;
  font-size: 1.5em;
}

.nav a {
  text-decoration: none;
  display: block;
  color: #000;
  border-bottom: 1px solid #999;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-size: 1.3em;
}
.nav a:hover {
  color: #936639;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.5em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.2em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.links {
  color: #656D4A;
  font-weight: 600;
}

.links:visited {
  color: #582F0E;
}

.links:hover, .links:active {
  color: #7F4F24;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2px;
  max-width: 100%;
  height: auto;
}
.about-container .about-item {
  background-color: #e9f5db;
}
.about-container .about-item-1 {
  grid-column: span 2;
  background-color: #656D4A;
  color: #fff;
  text-align: center;
  padding: 3rem;
}
.about-container .about-item-2 {
  padding: 2rem 1rem;
}
.about-container .about-item-3 .about-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-container .about-item-3 .about-photos img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
}
.about-container .about-item-3 .about-photos img:hover {
  opacity: 0.8;
}
.about-container .about-item-3 .about-row {
  padding: 3rem;
}
.about-container .about-item-3 .about-row h1 {
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.about-container .about-item-3 .about-row p {
  line-height: 150%;
  text-indent: 2rem;
  padding: 1rem 0;
  text-align: justify;
}
.about-container .about-item-3 .about-row p:last-child {
  padding-bottom: 0;
}
.about-container .about-item-3 .about-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
  border-top: 2px solid #fff;
}
.about-container .about-item-3 .about-column img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
}
.about-container .about-item-3 .about-column img:hover {
  opacity: 0.8;
}
.about-container .about-item-3 .about-column .about-date {
  text-align: right;
  color: #777;
  padding-bottom: 1rem;
  font-size: 1.3em;
}
.about-container .about-item-3 .about-column div {
  line-height: 150%;
  padding-left: 2rem;
  text-align: justify;
}
.about-container .about-item-4 {
  grid-column: span 2;
  background-color: #656D4A;
  padding: 3rem;
}

@media (max-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .about-item-3 .about-photos {
    grid-template-columns: 1fr;
  }
  .about-item-3 .about-column {
    grid-template-columns: 1fr;
  }
}
.blog-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0.2%;
}
.blog-container .blog-item {
  padding: 3rem;
  background-color: #e9f5db;
}
.blog-container .blog-item-1 {
  grid-column: span 2;
  background-color: #656D4A;
  color: #fff;
  text-align: center;
  padding: 3rem;
}
.blog-container .blog-item-2 {
  padding: 2rem 1rem;
}
.blog-container .blog-item-3 .blog-row-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 0;
  border-bottom: 3px solid #fff;
}
.blog-container .blog-item-3 .blog-row-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem 0;
  border-bottom: 3px solid #fff;
}
.blog-container .blog-item-4 {
  grid-column: span 2;
  background-color: #656D4A;
}

.blog-container .blog-item-3 .blog-row-left img, .blog-container .blog-item-3 .blog-row-right img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
  border-radius: 4px;
}
.blog-container .blog-item-3 .blog-row-left img:hover, .blog-container .blog-item-3 .blog-row-right img:hover {
  opacity: 0.5;
}

.blog-row-content {
  padding: 2rem;
}
.blog-row-content .date {
  color: #777;
  font-size: 1.3em;
  text-align: right;
  margin-bottom: 1rem;
}
.blog-row-content .desc {
  text-indent: 2rem;
  text-align: justify;
  line-height: 150%;
}

@media (max-width: 900px) {
  .blog-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    grid-row: span 1;
    grid-column: span 1;
  }

  .grid-item-2 {
    padding: 2rem;
  }
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0.2%;
}
.contact-container .contact-item {
  padding: 3rem;
  background-color: #e9f5db;
}
.contact-container .contact-item-1 {
  grid-column: span 2;
  background-color: #656D4A;
  color: #fff;
  text-align: center;
}
.contact-container .contact-item-2 {
  padding: 2rem 1rem;
}
.contact-container .contact-item-4 {
  grid-column: span 2;
  background-color: #656D4A;
}

body {
  font-size: 1em;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #000;
}

.grid-container {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-auto-rows: auto;
  grid-gap: 0.2%;
}

.grid-item {
  background-color: #e9f5db;
}
.grid-item-1 {
  grid-column: span 3;
  background-color: #656D4A;
  color: #fff;
  text-align: center;
  padding: 3rem;
}
.grid-item-2 {
  padding: 2rem 1rem;
}
.grid-item-3 {
  padding: 3rem;
}
.grid-item-4 {
  padding: 3rem;
}
.grid-item-5 {
  grid-column: span 3;
  padding: 3rem;
  background-color: #656D4A;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 3fr;
  }

  .grid-item-2 {
    grid-row: span 2;
    padding: 2rem 1.5rem;
  }

  .grid-item-3 {
    grid-column: span 2;
    padding: 3rem 2rem;
  }

  .grid-item-4 {
    grid-column: span 2;
    padding: 3rem 2rem;
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    grid-row: span 1;
    grid-column: span 1;
  }

  .grid-item-2 {
    padding: 2rem;
  }
}
.row {
  padding: 3rem 0;
  border-bottom: 3px solid #fff;
}
.row h2 {
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.row p {
  line-height: 150%;
}
.row-1 {
  padding: 0 0 3rem 0;
}

.row-btn {
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 40px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  display: inline-block;
}
.row-btn:hover {
  background-color: #656D4A;
  color: #fff;
  border: 2px solid transparent;
}

.aside-row h2 {
  font-size: 1.8em;
  letter-spacing: 2px;
}
.aside-row img {
  max-width: 100%;
  height: auto;
  padding: 1rem 0;
}
.aside-row p {
  line-height: 140%;
  margin-bottom: 3rem;
}

.gallery-row {
  padding: 3rem 0;
}
.gallery-row h2 {
  font-size: 1.8em;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3rem;
}
.gallery-row ul {
  display: flex;
  flex-flow: row wrap;
}
.gallery-row li {
  height: 30vh;
  flex: 1;
}
.gallery-row li:last-child {
  flex: 10;
}
.gallery-row a {
  text-decoration: none;
}
.gallery-row a:hover {
  opacity: 0.5;
}
.gallery-row img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.gallery-row h3 {
  font-size: 1.2em;
  display: inline;
}
.gallery-row .date {
  margin-top: 3rem;
  display: block;
  text-align: right;
  color: #777;
}
.gallery-row p {
  margin-top: 2rem;
  line-height: 150%;
}

@media (max-aspect-ratio: 1/1) {
  .gallery-row li {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  .gallery-row li {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery-row ul {
    flex-direction: row;
  }
  .gallery-row li {
    height: auto;
    width: 100%;
  }
  .gallery-row img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}/*# sourceMappingURL=style.css.map */