$kombuGreen: #333D29;
$rifleGreen: #414833;
$darkOlive: #656D4A;
$sage: #A4AC86;
$laurelGreen: #C2C5AA;
$khakiWeb: #B6AD90;
$coyoteBrown: #936639;
$russet: #7F4F24;
$sealBrown: #582F0E;

$ebony: #6B705C;
$artichoke: #A5A58D;

$lightGreen: #e9f5db;